/* 
  Estilos generales para los formualrios   */
.form-group {
  margin-bottom: 2.25rem;
  margin-top: 2.25rem;
  position: relative;

  .error-msg {
    color: $error;
  }
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: $dark-grey;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group input:focus ~ .control-label,
.form-group input:not(:placeholder-shown) ~ .control-label {
  font-size: 0.8rem;
  color: $dark-grey;
  top: -1rem;
  left: 0;
}

.form-group input {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input:focus {
  outline: none;
  color: #333;
}
.form-group input:focus ~ .control-label {
  color: $primary;
}

.form-group .bar {
  border-bottom: 0.0625rem solid $dark-grey;
  display: block;
  margin: 0 0 0.2rem 0;
  position: relative;
}
.form-group .bar::before {
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  background: $primary;
  bottom: -0.0625rem;
  content: "";
  height: 0.125rem;
  left: 50%;
  position: absolute;
  transition: left 0.28s ease, width 0.28s ease;
  width: 0;
  z-index: 2;
}
.form-group.invalid .bar::before {
  background: $error;
}
.form-group input:focus ~ .bar::before {
  width: 100%;
  left: 0;
}
