.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  background-color: $primary;
  padding: 1em;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.3rem;
}

.notes__textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

.notes__title-input {
  color: $dark-grey;
  font-weight: 700;
}

.notes__textarea {
  border: none;
  color: $dark-grey;
  font-size: 1.3rem;
  flex: 1 1 auto;
  resize: none;
}

.notes__image img {
  box-shadow: 5px 5px $dark-grey;
  height: 10rem;
}
