.nothing__main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: $white;
  background-color: $primary;

  height: 100vh;

  p {
    text-align: center;
  }
}
